{% extends "admin/change_form.html" %}

{% block object-tools %}
    {{ block.super }}
    <a href="{% url 'admin:deckbuilder_deckcard_add' %}?deck={{ object.name }}" class="button" style="margin-left: 8px;">
        {% translate 'Add DeckCard' %}
    </a>
{% endblock %}

{% block after_field_sets %}
    <h2>DeckCards</h2>
    <ul>
        {% for deckcard in deck.deckcard_set.all %}
            <li>{{ deckcard.card.name }} (x{{ deckcard.quantity }})</li>
        {% empty %}
            <li>No cards in deck</li>
        {% endfor %}
    </ul>
{% endblock %}
