<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Document</title>

    <style>
        .modal-body img {
            float: left;
            margin-right: 1em;
        }
        body{
            margin: 0 auto;
            background-color: rgb(53, 53, 53);
        }
        .cuerpo{
            padding: 2vw;
        }
        .cartas{
            background-color:rgb(42, 42, 42);
            margin-top: 1vw;
        }
        form{
            background-color:rgb(42, 42, 42);
        }
    </style>

</head>

<body>
    <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary"  data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Deckbuilder</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'decklists' %}">Decks</a>
                    </li>
                </ul>
               
            </div>
        </div>
    </nav>
    <div class="cuerpo">
        <!-- FORMULARIO DE FILTRADO DE CARTAS Y BÚSQUEDA -->
    <div class="form-group d-flex justify-content-between align-items-center">
        <form action="" class="text-bg-dark" style="padding:0.5vw">
            <div class="d-flex align-items-center">
                <label class="mr-2" for="a">Expansiones:&nbsp;&nbsp;</label>
                <select class="form-control mr-2 text-bg-dark" name="a" id="a">
                    {% for set in expansiones %}
                    <option value="{{ set }}" >{{ set }}</option>
                    {% endfor %}
                </select>&nbsp;&nbsp;
                <label class="mr-2" for="campos">Ordenar:&nbsp;&nbsp;</label>
                <select class="form-control mr-2 text-bg-dark" name="campos" id="campos">
                    {% for field in datos %}
                    {% if forloop.first %}
                    <option value="{{ field}}" selected>{{ field}}</option>
                    {% elif not field in selected_field %}
                    <option value="{{ field}}">{{ field}}</option>
                    {% endif %}
                    {% endfor %}
                </select>&nbsp;&nbsp;
                <input type="submit" value="filtrar" class="btn btn-outline-light">
            </div>
        </form>
        <!-- FORMULARIO DE LA BUSQUEDA LIVE -->
        <form class="form" role="search">
            <input class="form-control mx-2" type="search" placeholder="Search" aria-label="Search" id="search">
        </form>
    </div>


    <div class="cartas">
        <div class="row" style="padding:1vw;">
          <!-- PINTAR LAS CARTAS -->
          {% for carta in cartas %}
          <div class="col-sm-2">
            <img src="{{ carta.image_url}}" alt="" width="285" height="400" class="btn" data-bs-toggle="modal" data-bs-target="#modal{{ carta.cardnumber }}">
          </div>
          <!-- MODAL -->
          <div class="modal fade" id="modal{{ carta.cardnumber }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ carta.cardnumber }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalLabel{{ carta.cardnumber }}">{{ carta.name }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body d-lg-table-cell">
                  <img src="{{ carta.image_url }}" alt="" class="img" style="max-width: 50%;">
                  <div class="ml-4 d-flex flex-column flex-grow-2">
                    <p>{{carta.name}}</p>
                    <p>{{carta.type}}</p>
                    <p>{{carta.color}}</p>
                    <p>{{carta.stage}}</p>
                    
                  </div>
                  <div class="mt-auto">
                    <p>{{carta.maineffect}}</p>
                    <p>{{carta.sourceeffect}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:6 %}
        </div>
        <div class="row">
          {% endif %}
          {% endfor %}
        </div>
      </div>
      

    <br>
    <!-- PAGINACIÓN -->
    <div class="pagination d-flex justify-content-center" style="margin: 0 auto;">
        <span class="step-links">
            {% if cartas.has_previous %}
            <a href="?page=1" class="btn btn-outline-primary">&laquo; first</a>
            <a href="?page={{ cartas.previous_page_number }}" class="btn btn-outline-light">previous</a>
            {% endif %}
        </span>

        <span class="current-page btn btn-outline-light">
            {{ cartas.number}}
        </span>

        <span class="step-links">
            {% if cartas.has_next %}
            <a href="?page={{ cartas.next_page_number }}" class="btn btn-outline-light">next</a>
            <a href="?page={{ cartas.paginator.num_pages}}" class="btn btn-outline-light">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    </div>



    <!-- <script type="text/javascript">
        $(document).ready(function() {
          $("#search").keyup(function() {
            var input = $(this).val();
            if (input != "") {
              $.ajax({
                url: "{% url 'search' %}",
                method: "POST",
                data: {
                  input: input
                },
                success: function(data) {
                  var results = data.results;
                  var html = "";
                  for (var i = 0; i < results.length; i++) {
                    html += "<img>" + results[i].image_url + "</img>"
                  }
                  $("#row").html(html);
                }
              });
            }
          });
        });
      </script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
        </script>



</body>

</html>